body {
    font-family: 'SUSE',sans-serif !important;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'SUSE', sans-serif !important;
    color: #222;
}
